[submodule "tools/powerline-fonts"]
	path = tools/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts
[submodule "sources/vim-airline"]
	path = sources/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "sources/ack.vim"]
	path = sources/ack.vim
	url = git://github.com/mileszs/ack.vim
	ignore = untracked
[submodule "sources/bufexplorer"]
	path = sources/bufexplorer
	url = git://github.com/corntrace/bufexplorer
	ignore = untracked
[submodule "sources/ctrlp.vim"]
	path = sources/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule "sources/goyo.vim"]
	path = sources/goyo.vim
	url = git://github.com/junegunn/goyo.vim
[submodule "sources/mayansmoke"]
	path = sources/mayansmoke
	url = git://github.com/vim-scripts/mayansmoke
[submodule "sources/mru"]
	path = sources/mru
	url = git://github.com/yegappan/mru
[submodule "sources/nerdtree"]
	path = sources/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule "sources/nginx.vim"]
	path = sources/nginx.vim
	url = git://github.com/vim-scripts/nginx.vim
[submodule "sources/open_file_under_cursor.vim"]
	path = sources/open_file_under_cursor.vim
	url = git://github.com/amix/open_file_under_cursor.vim
[submodule "sources/peaksea"]
	path = sources/peaksea
	url = git://github.com/vim-scripts/peaksea
[submodule "sources/snipmate-snippets"]
	path = sources/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets
[submodule "sources/vim-snipmate"]
	path = sources/vim-snipmate
	url = git://github.com/garbas/vim-snipmate
[submodule "sources/syntastic"]
	path = sources/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "sources/taglist.vim"]
	path = sources/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim
	ignore = untracked
[submodule "sources/tlib"]
	path = sources/tlib
	url = git://github.com/vim-scripts/tlib
	ignore = untracked
[submodule "sources/vim-irblack"]
	path = sources/vim-irblack
	url = git://github.com/wesgibbs/vim-irblack
[submodule "sources/YankRing.vim"]
	path = sources/YankRing.vim
	url = git://github.com/vim-scripts/YankRing.vim
	ignore = untracked
[submodule "sources/Emmet.vim"]
	path = sources/Emmet.vim
	url = git://github.com/vim-scripts/Emmet.vim
	ignore = untracked
[submodule "sources/vim-addon-mw-utils"]
	path = sources/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils
[submodule "sources/vim-bundle-mako"]
	path = sources/vim-bundle-mako
	url = git://github.com/sophacles/vim-bundle-mako
[submodule "sources/vim-coffee-script"]
	path = sources/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "sources/vim-colors-solarized"]
	path = sources/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "sources/vim-commentary"]
	path = sources/vim-commentary
	url = git://github.com/tpope/vim-commentary
[submodule "sources/vim-expand-region"]
	path = sources/vim-expand-region
	url = git://github.com/terryma/vim-expand-region
	ignore = untracked
[submodule "sources/vim-fugitive"]
	path = sources/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "sources/vim-indent-object"]
	path = sources/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object
[submodule "sources/vim-less"]
	path = sources/vim-less
	url = git://github.com/groenewege/vim-less
[submodule "sources/vim-markdown"]
	path = sources/vim-markdown
	url = git://github.com/tpope/vim-markdown
[submodule "sources/vim-multiple-cursors"]
	path = sources/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors
	ignore = untracked
[submodule "sources/vim-pyte"]
	path = sources/vim-pyte
	url = git://github.com/therubymug/vim-pyte
[submodule "sources/vim-repeat"]
	path = sources/vim-repeat
	url = git://github.com/tpope/vim-repeat
[submodule "sources/vim-snippets"]
	path = sources/vim-snippets
	url = git://github.com/honza/vim-snippets
[submodule "sources/vim-surround"]
	path = sources/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "sources/vim-zenroom2"]
	path = sources/vim-zenroom2
	url = git://github.com/amix/vim-zenroom2
[submodule "sources/vim-lucius"]
	path = sources/vim-lucius
	url = git://github.com/jonathanfilip/vim-lucius
[submodule "sources/vim-node"]
	path = sources/vim-node
	url = git://github.com/moll/vim-node
[submodule "sources/jshint.vim"]
	path = sources/jshint.vim
	url = git://github.com/walm/jshint.vim
	ignore = untracked
[submodule "sources/vim-javascript-syntax"]
	path = sources/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax
[submodule "sources/vim-node-dict"]
	path = sources/vim-node-dict
	url = git://github.com/guileen/vim-node-dict
[submodule "sources/node-vim-debugger"]
	path = sources/node-vim-debugger
	url = git://github.com/sidorares/node-vim-debugger
[submodule "sources/vim-nodejs-complete"]
    path = sources/vim-nodejs-complete
	url = git://github.com/ahayman/vim-nodejs-complete
[submodule "sources/mango.vim"]
	path = sources/mango.vim
	url = git://github.com/goatslacker/mango.vim
[submodule "sources/nerdcommenter"]
	path = sources/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
[submodule "sources/snipmate-nodejs"]
	path = sources/snipmate-nodejs
	url = git://github.com/jamescarr/snipmate-nodejs
[submodule "sources/vim-easymotion"]
	path = sources/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion
[submodule "sources/tabular"]
	path = sources/tabular
	url = git://github.com/godlygeek/tabular
[submodule "sources/tern_for_vim"]
	path = sources/tern_for_vim
	url = git://github.com/marijnh/tern_for_vim
	ignore = untracked
[submodule "sources/vim-airline-themes"]
	path = sources/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
